.wrapper {
  background-color: #222f3e;
  min-height: 100vh;
}

.nav-app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  background: #1e272e;
  height: 60px;
}

.title {
  color: #fff;
  font-weight: bold;
}

.nav-icon {
  font-size: 2em;
  margin: 0 15px;
  cursor: pointer;
}

.nav-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 70px;
  background-color: #2c3e50;
  margin-bottom: 20px;
}
.switch-content {
  min-height: 81vh;
  padding: 0 0.4rem;
}
/* Box */

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* width: 360px; */
  margin: 30px auto 40px;
}

.box {
  color: #fff;
  background-color: #34495e;
  padding: 20px;
  border-radius: 5px;
  margin: 6px;
  text-transform: uppercase;
  text-align: center;
}

.box:nth-child(4n+1) {
  background-color: #27ae60;
}

.box:nth-child(4n+2) {
  background-color: #0abde3;
}

.box:nth-child(4n+3) {
  background-color: #d35400;
}

.box:nth-child(4n+4) {
  background-color: #FFC312;
}

.box>p:nth-child(1) {
  font-weight: bold;
}

.box>p:nth-child(2) {
  font-size: 0.7em;
  font-style: italic;
}

.box-clickable {
  box-shadow: 0 7px #999;
  user-select: none;
  cursor: pointer;
}

.box-clickable:active {
  box-shadow: 0 4px #666;
  transform: translateY(2px);
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #34495e;
  width: 100%;
  max-height: 95vh;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  user-select: none;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #2c3e50;
  color: white;
}

.modal-body {
  padding: 20px 16px;
  color: #fff;
  max-height: 60vh;
  overflow: auto;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #2c3e50;
  color: white;
}

.modal-group-button {
  display: flex;
  justify-content: flex-end;
}

.modal-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 0;
}



@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

/* Talbe */

.table-modal {
  border-collapse: collapse;
  width: 100%;
}

.table-modal th, .table-modal td {
  text-align: left;
  padding: 8px;
}

.table-modal tr:nth-child(even) {
  background-color: #006266;
}

.table-responsive {
  height: 300px;
  overflow: auto;
}

/* tab */

.tabs {
  display: flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.tab {
  border-bottom: 5px solid #ddd;
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab:hover {  
  background-color: #353b48;
}

.tab-active {
  background-color: #353b48;
  border-bottom-color: #EA2027;
}

.tab>p {
  padding: 20px 10px;
  font-weight: bold;
}

.content-tab {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #95a5a6;
  margin: 10px 0;
}

/* Progress bar */

.progress-bar {
  /* width: 360px; */
  background-color: #065857;
  border-radius: 10px;
  overflow: hidden;
  height: 5px;
}

.progress-bar>div>div {
  height: 5px;
  background-color: rgb(34, 139, 34);
  animation-name: precent;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.propress-bar {
  width: 100%;
}
.number-progress-bar {
  /* width: 360px; */
  margin: 0 auto;
  text-align: right;
  font-size: 0.7em;
  color: #fff;
}

.number-progress-bar>span {
  font-style: italic;
}

.number-progress-bar>i.material-icons {
  width: 10px;
  font-size: 0.7em;
}

@keyframes precent {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* List */

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
}

.list>li {
  display: grid;
  grid-template-columns: 40px 1fr 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #4b6584;
  margin: 6px 0;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

.list>li:hover {
  background-color: #45aaf2;
}

.list>li>.detail {
  overflow: hidden;
}

.list>li>.detail>p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list>li>.detail>p:nth-child(1) {
  font-weight: bold;
  font-size: 1.2em;
}

.list>li>.detail>p:nth-child(2) {
  font-style: italic;
}

.learn-recent {
  background-color: #2ecc71 !important;
}

.learn-recent-1hour {
  background-color: #f0932b !important;
}

.learn-recent-1day {
  background-color: #c0392b !important;
}

.last-learn-at {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3px;
}

/* Popup link */

.popup-link {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .popup-link > a {
  display: block;
  background: #4a69bd;
  border-radius: 5px;
  padding: 10px 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  color: #fff;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
} */

/* Square */

.square-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  color: #fff;
  font-weight: bold;
  /* user-select: none; */
}

.square:nth-child(10n+1) {
  background-color: #FEA47F;
}

.square:nth-child(10n+2) {
  background-color: #25CCF7;
  color: #333;
}

.square:nth-child(10n+3) {
  background-color: #EAB543;
}

.square:nth-child(10n+4) {
  background-color: #55E6C1;
  color: #333;
}

.square:nth-child(10n+5) {
  background-color: #F97F51;
  color: #333;
}

.square:nth-child(10n+6) {
  background-color: #CAD3C8;
}

.square:nth-child(10n+7) {
  background-color: #FC427B;
}

.square:nth-child(10n+8) {
  background-color: #F8EFBA;
  color: #333;
}

.square:nth-child(10n+9) {
  background-color: #58B19F;
}

.square:nth-child(10n+10) {
  background-color: #182C61;
}

/* Grammar Tense*/
.collapses {
  margin: 10px 0;
}
.collapse {
  width: 100%;
  color: #fff;
}

.collapse > label {
  display: flex;
  justify-content: space-between;
  background-color: #2c3e50;  
  padding: 20px;
}

.collapse > input[type='checkbox'] {
  display: none;
}

.collapse > input[type='checkbox']:checked ~ div.collapse-main {
  display: block;
}

.collapse-main {
  display: none;
  background-color:#2d3436;
  color: #fff;
  padding: 20px;
}

.collapse-main > ol, .collapse-main > ul {
  
  margin: 10px 20px;
}
.collapse-main > h2, .collapse-main > h3 {
  margin: 10px 0;
}

/* Full menu */

.full-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: #487eb0;
  width: 100%;
}

.full-menu>main {
  /* width: 100%; */
  padding: 10px;
}

.full-menu ul {
  list-style: none;
}

.full-menu li>a {
  display: block;
  color: #fff;
  margin: 5px 0;
  padding: 5px 0;
}

.title-menu {
  display: block;
  color: #fff;
  font-size: 1.5em;
  padding: 10px 0;
  text-transform: uppercase;
}

/* Footer */

/* .space-footer {
  height: 60px;
} */

.footer {  
  display: inline-block;
  height: 40px;
  width: 100%;  
  margin: 40px 0 30px;
  padding: 0 0.5rem;
  color: #58B19F;
  font-style: italic;
  font-size: 0.7em;
}

/* Scroll top */

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(34, 139, 34, 0.5);
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.scroll-top:hover {
  background-color: rgb(34, 139, 34);
}

/* Common class */

.color-red {
  color: red;
}

.color-white {
  color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-t20 {
  margin-top: 20px;
}

.margin-center {
  margin: 0 auto !important;
}

a {
  text-decoration: none;
}

.split-horizon {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper .material-icons {
  color: #fff;
  user-select: none;
}

.icon-clickable {
  cursor: pointer;
  border-radius: 50%;
  background-position: center;
  transition: background 0.8s;
  width: 1em;
}

.icon-clickable:active {
  color: #333;
  background-color: #fafafa;
  background-size: 100%;
  transition: background 0s;
}

label {
  display: block;
  padding: 10px 0;
}

.button {
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: #333;
  background-color: #f5f6fa;
  box-shadow: 0 0 4px #7d8286;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

.button:hover {
  background: #fafafa radial-gradient(circle, transparent 1%, #fafafa 1%) center/15000%;
}

.button:active {
  background-color: #222f3e;
  background-size: 100%;
  transition: background 0s;
}

.button-icon {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  padding: 7px 20px;
  margin: 5px 8px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  background-color: #f5f6fa;
  /* box-shadow: 0 0 4px #7d8286; */
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

.button-icon:hover {
  border-radius: 25px;
  background: #fafafa radial-gradient(circle, transparent 1%, #fafafa 1%) center/15000%;
}

.button-icon:active {
  background-color: #222f3e;
  background-size: 100%;
  transition: background 0s;
}

.button-icon>.material-icons {
  color: #333;
  margin-right: 5px;
}

.button-icon-badge {
  position: absolute;
  top: -6px;
  right: -4px;
  border-radius: 50%;
  background-color: #c0392b;
  color: #fff;
  width: 20px;
  height: 20px;
}

.input-text {
  padding: 8px;
  display: block;
  border: none;
  background: none;
  color: #fff;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  width: 50%;
  outline: none;
  transition: width 0.4s ease-in-out
}

.input-text:focus {
  width: 100%!important
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.hidden-visible {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .box-container, .progress-bar, .list>li, .number-progress-bar {
    width: 500px;
  }
  .square {
    width: 250px;
    height: 250px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .tabs {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .nav-control {
    margin-bottom: 50px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}