@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #222f3e;
  padding-bottom: 60px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  background: #1e272e;
  height: 60px;
}

.title {
  color: #fff;
  font-weight: bold;
}

.nav-icon {
  font-size: 2em;
  margin: 0 15px;
  cursor: pointer;
}

.nav-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 70px;
  background-color: #2c3e50;
  margin-bottom: 20px;
}

/* Box */

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 360px;
  margin: 0 auto;
}

.box {
  color: #fff;
  background-color: #34495e;
  padding: 20px;
  border-radius: 5px;
  margin: 6px;
  text-transform: uppercase;
  text-align: center;
}

.box:nth-child(4n+1) {
  background-color: #27ae60;
}

.box:nth-child(4n+2) {
  background-color: #0abde3;
}

.box:nth-child(4n+3) {
  background-color: #d35400;
}

.box:nth-child(4n+4) {
  background-color: #FFC312;
}

.box>p:nth-child(1) {
  font-weight: bold;
}

.box>p:nth-child(2) {
  font-size: 0.7em;
  font-style: italic;
}

/* Progress bar */

.progress-bar {
  width: 360px;
  background-color: #065857;
  border-radius: 10px;
  overflow: hidden;
  height: 5px;
}

.progress-bar>div>div {
  height: 5px;
  background-color: rgb(34, 139, 34);
  animation-name: precent;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.number-progress-bar {
  width: 360px;
  margin: 0 auto;
  text-align: right;
  font-size: 0.7em;
  color: #fff;
}

.number-progress-bar>span {
  font-style: italic;
}

.number-progress-bar>i.material-icons {
  width: 10px;
  font-size: 0.7em;
}

@keyframes precent {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* List */

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
}

.list>li {
  display: grid;
  grid-template-columns: 40px 1fr 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #4b6584;
  margin: 6px 0;
  padding: 20px;
  border-radius: 5px;
  width: 360px;
}

.list>li:hover {
  background-color: #45aaf2;
}

.list>li>.detail {
  overflow: hidden;
}

.list>li>.detail>p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list>li>.detail>p:nth-child(1) {
  font-weight: bold;
  font-size: 1.2em;
}

.list>li>.detail>p:nth-child(2) {
  font-style: italic;
}

.learn-recent {
  background-color: #2ecc71 !important;
}

.learn-recent-1hour {
  background-color: #9f5e25 !important;
}

.last-learn-at {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3px;
}

/* Square */

.square-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  color: #fff;
  font-weight: bold;
  /* user-select: none; */
}

.square:nth-child(10n+1) {
  background-color: #FEA47F;
}

.square:nth-child(10n+2) {
  background-color: #25CCF7;
  color: #333;
}

.square:nth-child(10n+3) {
  background-color: #EAB543;
}

.square:nth-child(10n+4) {
  background-color: #55E6C1;
  color: #333;
}

.square:nth-child(10n+5) {
  background-color: #F97F51;
  color: #333;
}

.square:nth-child(10n+6) {
  background-color: #CAD3C8;
}

.square:nth-child(10n+7) {
  background-color: #FC427B;
}

.square:nth-child(10n+8) {
  background-color: #F8EFBA;
  color: #333;
}

.square:nth-child(10n+9) {
  background-color: #58B19F;
}

.square:nth-child(10n+10) {
  background-color: #182C61;
}

/* Full menu */

.full-menu {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: #487eb0;
  width: 100%;
}

.full-menu>main {
  /* width: 100%; */
  padding: 10px;
}

.full-menu ul {
  list-style: none;
}

.full-menu li>a {
  display: block;
  color: #fff;
  margin: 5px 0;
  padding: 5px 0;
}

.title-menu {
  display: block;
  color: #fff;
  font-size: 1.5em;
  padding: 10px 0;
  text-transform: uppercase;
}

/* Footer */

/* .space-footer {
  height: 60px;
} */

.footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  color: #58B19F;
  font-style: italic;
  font-size: 0.7em;
}

/* Scroll top */

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(34, 139, 34, 0.5);
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.scroll-top:hover {
  background-color: rgb(34, 139, 34);
}

/* Common class */

.color-red {
  color: red;
}

.color-white {
  color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-t20 {
  margin-top: 20px;
}

.margin-center {
  margin: 0 auto !important;
}

a {
  text-decoration: none;
}

.split-horizon {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.material-icons {
  color: #fff;
  user-select: none;
}

.icon-clickable {
  cursor: pointer;
  border-radius: 50%;
  background-position: center;
  transition: background 0.8s;
}

.icon-clickable:active {
  color: #333;
  background-color: #fafafa;
  background-size: 100%;
  transition: background 0s;
}

.button {
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: #333;
  background-color: #f5f6fa;
  box-shadow: 0 0 4px #7d8286;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

.button:hover {
  background: #fafafa radial-gradient(circle, transparent 1%, #fafafa 1%) center/15000%;
}

.button:active {
  background-color: #222f3e;
  background-size: 100%;
  transition: background 0s;
}

.button-icon {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  padding: 7px 20px;
  margin: 5px 8px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  background-color: #f5f6fa;
  /* box-shadow: 0 0 4px #7d8286; */
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

.button-icon:hover {
  border-radius: 25px;
  background: #fafafa radial-gradient(circle, transparent 1%, #fafafa 1%) center/15000%;
}

.button-icon:active {
  background-color: #222f3e;
  background-size: 100%;
  transition: background 0s;
}

.button-icon>.material-icons {
  color: #333;
  margin-right: 5px;
}

.button-icon-badge {
  position: absolute;
  top: -6px;
  right: -4px;
  border-radius: 50%;
  background-color: #c0392b;
  color: #fff;
  width: 20px;
  height: 20px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.hidden-visible {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .box-container, .progress-bar, .list>li, .number-progress-bar {
    width: 500px;
  }
  .square {
    width: 250px;
    height: 250px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .nav-control {
    margin-bottom: 50px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}